- if current_user == competition.user
  = link_to "Delete Competition", user_competition_path(current_user, competition), method: :delete, confirm: "Are you sure?"
  = link_to "Edit Competition", edit_user_competition_path(current_user, competition)
- competition_attributes.each do |key, value|
  %dl
    %dt= key
    %dd= value

= gmaps4rails(competition_map)
