!!! 5

%html
  %head
    %title Leetcompete
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      - if signed_in?
        = link_to "sign out", :sign_out
      -else
        = link_to "sign in", new_session_path
        = link_to "sign up", new_user_path
      - flash.keys.each do |type|
        .flash{ class: type }
          %p= flash[type]
    = yield
    = yield :scripts
